<a href="https://colab.research.google.com/github/estevaocardoso/projetos-estevao/blob/main/GETTING_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import basedosdados as bd

In [3]:
query = '''
SELECT ano, sigla_uf, id_municipio, bairro_revenda, cep_revenda, endereco_revenda, cnpj_revenda, nome_estabelecimento, bandeira_revenda, produto, unidade_medida, preco_compra, preco_venda FROM `basedosdados.br_anp_precos_combustiveis.microdados`
WHERE sigla_uf IN ('DF')
'''
df = bd.read_sql(query,
billing_project_id="extended-spark-302513")

Downloading: 100%|██████████| 150247/150247 [00:16<00:00, 9041.69rows/s]

# Nova seção

In [4]:
import pandas as pd


parquet_name = 'DF_FUEL.parquet'


df.to_parquet(parquet_name, index=False)

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_parquet('DF_FUEL.parquet')
df

,ano,sigla_uf,id_municipio,bairro_revenda,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,produto,unidade_medida,preco_compra,preco_venda
0,2019,DF,5300108,Asa Sul,70363000,"Setor Shcs Sq 310 Bloco A/B Pll, S/N,",00306597002906,Cascol Combustiveis Para Veiculos Ltda,Liquigás,Glp,R$/13kg,NaN,70.00
1,2019,DF,5300108,Asa Sul,70363000,"Setor Shcs Sq 310 Bloco A/B Pll, S/N,",00306597002906,Cascol Combustiveis Para Veiculos Ltda,Liquigás,Glp,R$/13kg,NaN,70.00
2,2019,DF,5300108,Asa Sul,70363000,"Setor Shcs Sq 310 Bloco A/B Pll, S/N,",00306597002906,Cascol Combustiveis Para Veiculos Ltda,Liquigás,Glp,R$/13kg,NaN,70.00
3,2019,DF,5300108,Asa Sul,70363000,"Setor Shcs Sq 310 Bloco A/B Pll, S/N,",00306597002906,Cascol Combustiveis Para Veiculos Ltda,Liquigás,Glp,R$/13kg,NaN,70.00
4,2019,DF,5300108,Asa Sul,70363000,"Setor Shcs Sq 310 Bloco A/B Pll, S/N,",00306597002906,Cascol Combustiveis Para Veiculos Ltda,Liquigás,Glp,R$/13kg,NaN,70.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150242,2012,DF,5300108,Planaltina,73380300,Setor Habitacional Mestre D'armas Cond Setor D...,10991924000150,Nenem Gás Ltda,Branca,Glp,R$/13kg,NaN,37.00
150243,2012,DF,5300108,Planaltina,73380300,Setor Habitacional Mestre D'armas Cond Setor D...,10991924000150,Nenem Gás Ltda,Branca,Glp,R$/13kg,NaN,37.00
150244,2012,DF,5300108,Brasília,75542500,"Cnm 02 - Comercio Norte 2 Local Quadra, 312, S...",02989654000700,Melhor Posto De Combustíveis Ltda,Branca,Diesel,R$/litro,NaN,2.09
150245,2012,DF,5300108,Brasília,75542500,"Cnm 02 - Comercio Norte 2 Local Quadra, 312, S...",02989654000700,Melhor Posto De Combustíveis Ltda,Branca,Etanol,R$/litro,NaN,2.24
150246,2012,DF,5300108,Brasília,75542500,"Cnm 02 - Comercio Norte 2 Local Quadra, 312, S...",02989654000700,Melhor Posto De Combustíveis Ltda,Branca,Gasolina,R$/litro,NaN,2.85

In [ ]:
df['ano'] = pd.to_numeric(df['ano'], errors='coerce')
df_plot = df[(df['id_municipio']=='5300108')][['ano', 'cnpj_revenda', 'preco_venda']]
df_grouped = df_plot.groupby(['ano', 'cnpj_revenda']).mean().reset_index()
for cnpj in df_grouped['cnpj_revenda'].unique():
    df_temp = df_grouped[df_grouped['cnpj_revenda'] == cnpj]
    plt.plot(df_temp['ano'], df_temp['preco_venda'], label=f'CNPJ: {cnpj}')
plt.xlabel('Ano')
plt.ylabel('Preco de venda')
plt.title('Preço de Venda ao Longo do Tempo por CNPJ de Revenda')
plt.legend()
plt.show

In [2]:
import basedosdados as bd

# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_ibge_censo_2022',
table_id='domicilio_recenseado_especie_municipio',
billing_project_id="extended-spark-302513")

Downloading: 100%|██████████| 66840/66840 [00:03<00:00, 18275.09rows/s]

In [22]:
query = """
    SELECT *
    FROM `basedosdados.br_ibge_censo_2022.coordenada_endereco` 
    WHERE id_municipio IN ('1506807')
"""
df_adress = bd.read_sql(query,
billing_project_id="extended-spark-302513")

Downloading:   1%|          | 912297/111102875 [27:13<54:48:47, 558.42rows/s]
Downloading:   2%|▏         | 2605324/111102875 [18:25<12:47:28, 2356.17rows/s]


Downloading: 100%|██████████| 146496/146496 [00:20<00:00, 7270.59rows/s]

In [23]:
df_adress

,id_uf,id_municipio,especie_endereco,nivel_geo_coordenada,latitude,longitude,ponto
0,15,1506807,1,1,-2.435061,-54.720836,POINT(-54.720836 -2.435061)
1,15,1506807,1,1,-2.434332,-54.720000,POINT(-54.72 -2.434332)
2,15,1506807,1,1,-2.434763,-54.718722,POINT(-54.718722 -2.434763)
3,15,1506807,1,1,-2.437363,-54.717541,POINT(-54.717541 -2.437363)
4,15,1506807,1,1,-2.438072,-54.716247,POINT(-54.716247 -2.438072)
...,...,...,...,...,...,...,...
146491,15,1506807,8,1,-2.574829,-54.637610,POINT(-54.63761 -2.574829)
146492,15,1506807,8,1,-2.389323,-54.570533,POINT(-54.570533 -2.389323)
146493,15,1506807,8,1,-2.449664,-54.763298,POINT(-54.763298 -2.449664)
146494,15,1506807,8,1,-2.901309,-54.160323,POINT(-54.160323 -2.901309)
146495,15,1506807,8,1,-2.436211,-54.762837,POINT(-54.762837 -2.436211)

In [ ]:
query = '''
SELECT ano, sigla_uf, id_municipio, bairro_revenda, cep_revenda, endereco_revenda, cnpj_revenda, nome_estabelecimento, bandeira_revenda, produto, unidade_medida, preco_compra, preco_venda FROM `basedosdados.br_anp_precos_combustiveis.microdados`
WHERE sigla_uf IN ('DF')
'''