<a href="https://colab.research.google.com/github/estevaomod/PROJETO-SOJA/blob/main/DASHBORAD_SOJA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from dash import html, Dash, dcc, Input, Output
import plotly.express as px
import pandas as pd

In [5]:
app = Dash(__name__)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [7]:
df = pd.read_excel(r'/content/drive/MyDrive/ECONOMIA/Mestrado KRALHOOO/PY_SOJA .xlsx')

In [12]:
df.head()

,REGIAO,ANO,AREA_COLHIDA_HC,PREÇO_SC,QUANTIDADE_SC_60KG,PRODUÇÃO_TN(MIL),RECEITA_BRUTA_R$(MIL),DOLAR,CUSTOS
0,CENTRO-OESTE,2009,9900.1,40.00,485581.6667,29134900.0,19423266.67,1.9976,NaN
1,CENTRO-OESTE,2010,10539.2,30.22,526445.0000,31586700.0,15909167.90,1.7603,NaN
2,CENTRO-OESTE,2011,10819.4,39.01,565648.3333,33938900.0,22065941.48,1.6750,NaN
3,CENTRO-OESTE,2012,11495.2,55.06,581746.6667,34904800.0,32030971.47,1.9546,NaN
4,CENTRO-OESTE,2013,12778.2,49.88,634856.6667,38091400.0,31666650.53,2.1576,NaN

In [21]:
fig = px.bar(df, x='ANO', y='RECEITA_BRUTA_R$(MIL)', color='REGIAO', barmode='group')
opcoes = list(df['REGIAO'].unique())

In [23]:
app.layout = html.Div(children=[
    html.H1(children = 'Receita da Soja por região 2009-2022'),
    html.H2(children = 'Receita em Reais das safras de soja de 2009 a 2022'),
    html.Div(children ='''
      Os valores não estão corrigidos pela inflação corrente.
    '''),
    html.Div(id='texto'),
    dcc.Dropdown(opcoes, value = 'Todas as Regioes', id='Lista de Regioes' ),

    dcc.Graph(
        id= 'Receita safras soja 2009 a 2022',
        figure = fig
    )
    ])

In [28]:
@app.callback(
    Output('Receita safras soja 2009 a 2022', 'fig'),
    Input('Lista de Regioes', 'value')
)

SyntaxError: ignored

In [ ]:
def update_output(value):
  if value == 'Todas as Regioes':

    fig = px.bar(df, x='ANO', y='RECEITA_BRUTA_R$(MIL)', color='REGIAO', barmode='group')

  else: 
    tabela_filtrada =  df.loc[df['REGIAO']==value, :]
     fig = px.bar(tabela_filtrada, x='ANO', y='RECEITA_BRUTA_R$(MIL)', color='REGIAO', barmode='group')
  return fig

In [29]:
if __name__ == '__main__':
  app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

INFO:__main__:Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on